	#heading{
		color: rgb(46, 40, 40);
		text-shadow: 2px 3px 10px rgb(253, 251, 111);
		font-size: 20px;
		margin-top: 0%;
		text-transform: uppercase;
	}

	/* 3*3 Grid */
	#b1, #b2, #b3, #b4, #b5,
	#b6, #b7, #b8, #b9 {
		width: 25px;
		height: 25px;
		margin: auto;
		border: 1px solid gray;
		border-radius: 6px;
		font-size: 20px;
		text-align: center;
		margin-top: 0.5em;
	}

	/* Reset Button */
	#but {
		box-sizing: border-box;
		width: 45px;
		height: 20px;
		border: 1px solid gray;
		margin: auto;
		border-radius: 4px;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		background-color: white;
		color: black;
		font-size: 10px;
		cursor: pointer;
		text-align: center;
		margin-bottom: 0.5em;
	}

	#print {
		color: rgb(46, 40, 40);
		text-shadow: 2px 3px 10px rgb(253, 251, 111);
		font-size: 20px;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
	}

	#main {
		width: 135px;
		height: 200px;
		background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));	
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	#main-section{
		display: flex;
        flex-direction: row;
		justify-content: space-between;
	}

	#gameSection{
		width: 40%;
		text-align: center;
	}

	#calcSection{
		width: 60%;
		text-align: center;
	}
	#calc-main{
		text-align: center;
	}

	#container{
		width: fit-content;
		height: fit-content;
		background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(bgImg.jpg);	
	}
	#calculator{
		width: fit-content;
		height: 200px;
		position: relative;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	#result{
		height: 70px;
	}
	#history{
		text-align: right;
		height: 20px;
		margin: 0 20px;
		font-size: 15px;
		color: #919191;
	}
	#output{
		text-align: right;
		height: 60px;
		font-size: 10px;
	}
	.operator, .number{
		width: 20px;
		height: 20px;
		margin: 9px;
		float: left;
		border: 1px solid gray;
		border-radius: 6px;
		width: 25px;
		height: 25px;
		border-width: 1px;
		font-size: 10px;
		background-color: white;
	}
	.number, .operator{
		cursor: pointer;
	}
	.operator:active, .number:active{
		font-size: 13px;
	}
	.operator:focus, .number:focus, .empty:focus{
		outline: 0;
	}
	